/* Hoja de estilos*/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Oswald",'roboto', Tahoma, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #9366fa;
}

/*estilos del encabezado*/



header{
    height: auto;
    top: 0;
    border-bottom: 1px solid black;
    max-height: 55px;
    font-size: clamp(8px, 3vw, 16px);

}

h2, p {
  margin: 10px;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(to right, #0af729, #781ff5);
}

ul li {
  float: left;  
  flex-wrap: wrap;
  
}

ul li a {
  display: block;
  color: rgb(36, 35, 35);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

ul li a:hover {
  border: 1px rgb(243, 134, 10);
  border-style: outset;
  border-radius: 10px;
}



.logo{
    float: right;

    
}

img{
    width: 100px;
    height: 51px;
}

/* Estilos de la sección principal*/

main{
    margin-top: 30px;
    margin-bottom: 30px;

}

.titulo{
    border: 3px dashed #72fa66;
    text-align: center;

}

h2{
    font-style: italic;
    font-weight: 500;
    color: #e5f508f1;
}


/*estilos de los productos*/

 .principal{
    margin-top: 10px;

 }




 .productos{
    justify-content: center;
    width: 90%;
    display: flex;
    align-items: top;
    margin-left: 3vw;
    height: auto;
    flex-wrap:wrap;
    gap: 16px;
    gap: 16px;


}

.box { 
    
    max-width: clamp(150px, 3vw, 200px); 
    max-height: 300px; 
    padding: 2vw; 
    border-radius: 15px;
    border: 1vw inset #f38d8d; 
    margin: auto; 
    background-color: #59e66c;
}

.item{
    display: flex;
    justify-items: center;
    margin: 35px;
    margin-top: 10px;
}
 
.imagen{ /*modifica la imagen*/
    max-width: 90%;
    width: auto;
    max-height: 150px;
    text-align: center;
    background-color: #080808;

}

.texto{

    border: 2px solid #954df8;
    border-radius: 5px;
}

.name{
    text-align: center;
    font-size: 3vh;
    font-weight: 700;
    background-color: rgb(226, 154, 59);
    border-radius: 3px;

}

.descripcion{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    font-size: 2vh;
    background-color: rgb(245, 206, 133);
    color: #141614;
    border-radius: 3px;
    height: 110px;
}

.precio{
    text-align: right;
    background-color:none;
    font-size: 3vh;

}

.botoncompra{
    float: right;
    position: relative;



}

.agregaCarrito{
    position: relative;
    font-size: 2vh;
    background-color: yellowgreen;    
}

/*estilos del pie de pagina*/

footer{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(to right, #0af729, #781ff5);
    display: flex;
    flex-direction: column;
}

.contenedorpie{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.maps{
    height: 50px;
    width: 50vw;

}


.redes ul{
    display: flex;
    flex-direction: column;

}

.redes ul li{
    text-decoration: none;
    list-style-type: none;
}

.formcontacto{
    margin-top: 0px;
    margin: 20px;
}

.otroslinks ul{
    display: flex;
    flex-direction: column;
}

button{
      vertical-align: middle;
}

button :hover{
    border: 2px solid #e5f508;
    cursor: crosshair;
}

