/* Hoja de estilos*/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'roboto', Tahoma, Verdana, sans-serif;
    justify-items: center;
}

header{
    background: linear-gradient(to right, #90ff9f, #DBC9F5);/*linear-gradient(to right,#90ff9f,white) ;*/
    width: 100%;
    justify-content: center;
    justify-items: center;
}

header p{
    padding: 0px;
    margin: 0px;
}




nav{
    
    display: flex;
    justify-content: center;
    list-style-type: none;
} 

ul li{
    float: left;
    margin: 15px;
    list-style: none;
}

a{
    text-decoration: none;
}

a:hover {
    background-color: rgb(193, 145, 238);
    color: white;
    border:1px, solid, #1a1717;
    padding: 3px;
    border-radius: 10px;

}    


#inicio{
    font-family: "Oswald", "roboto", Verdana, sans-serif;
    text-align: center;
}




h2{
    text-align: center;
    font-size: 24px;
    background-color: rgb(175, 248, 39);
}

section{
    margin-top: 20px;
}

.productos{
    display: flex;
    justify-content: center;
    width: 90%;
    align-items: top;
    margin-left: 3vw;
    height: 90vh;

}

.box { 
    
    max-width: clamp(30vw, 3vw, 30px); 
    max-height: 90vh; 
    padding: 2vw; 
    border: 1vw inset #f38d8d; 
    margin: 2vw; 
}
 
.item{ /*modifica la imagen*/
    max-width: 100%;
    height: auto;
    text-align: center;
    background-color: #080808;

}

.name{
    text-align: left;
    font-size: 3vh;
    font-weight: 700;
    background-color: antiquewhite;
    border-radius: 3px;

}

.descripcion{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    font-size: 2vh;
    background-color: rgb(245, 206, 133);
    color: #141614;
    border-radius: 3px;
}

.precio{
    text-align: right;
    background-color:none;
    font-size: 3vh;

}

.agregaCarrito{
    font-size: 2vh;
}

p{
    
    margin-top: 20px;
    text-align: justify;
    font-size: 16px;
    background-color: white;

}

table{
    text-align: center;
    width: 10px;
    font-size: 20px;

}


#video{
    width: 100%;
}

.barranavinferior{
    background-color: rgb(173, 238, 135);
}

.barranavinferior a{
    color: #080808;
    list-style: none;
    text-decoration: none;
    padding-left: 2vw;
}

.maps{
    border: black;
    text-align: center;
}

footer{
    background-color:  #90ff9f;
}

.redes th{
    font-weight: 100px;
    width: 10px;
    font-size: 6px;
    text-align: left;

}


button{
    padding-top: 5px;
    padding-bottom: auto;
    margin-bottom: 6px;
    text-align: center;
    border-radius: 6px;
    height: auto;
    background-color: rgb(243, 210, 64);
    border-color: #f0a417;
    font-size: 28px;
    font-weight: 600;
    cursor: pointer;
}

button .contacto{
    font-size: 6vw;
}